@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Header {
    font-size: calc(3rem + 2vh);
    font-weight: 700;

    span {
        font-size: calc(1rem + 2vh);
    }
}

@mixin sectionHeader {
    font-size: calc(2rem + 2vh);
    font-weight: 500;
    margin: 5vh;

    p {
        font-size: calc(1rem + 1vh);
    }
}

@mixin button {
    font-family: 'Poppins', sans-serif;
    width: calc(5rem + 2vw);
    height: calc(1rem + 2vh);
    background: #9b2449;
    color: #fff;
    border: none;
    cursor: pointer;
}