body {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
      grid-template-areas: "header header" "sidebar content";
}

@media only screen and (max-width: 768px) {
  body {
        grid-template-areas: "header header" "sidebar sidebar" "content content";
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* * {
    border: 1px solid #f00 !important;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Colors */
/* Header */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(143, 123, 133, 0.3);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .logo img {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 70px;
  width: 60px;
  height: auto;
  float: left;
}

.search-bar {
  --size: 60px;
  position: relative;
  border: 2px solid #D785AD;
  border-radius: 100vh;
  width: var(--size);
  height: var(--size);
  padding: 3px;
  -webkit-transition: width 800ms cubic-bezier(1, -0.2, 0.76, 1.15);
  transition: width 800ms cubic-bezier(1, -0.2, 0.76, 1.15);
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .search-bar {
    display: none;
  }
}

.search-bar__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 .5em 0 60px;
  border: 0;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  line-height: var(--size);
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.search-bar__submit {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 100vh;
  background: transparent;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  -webkit-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

.search-bar:focus-within {
  width: 50%;
}

.search-bar:focus-within .search-bar__input {
  opacity: 1;
  cursor: initial;
  width: 99%;
}

.search-bar:focus-within .search-bar__submit {
  background: #D785AD;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.search-bar:focus-within .search-bar__submit:focus, .search-bar:focus-within .search-bar__submit:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

/* / Header */
/* Side Bar */
.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  position: fixed;
  width: 300px;
  height: 100vh;
  background: rgba(143, 123, 133, 0.3);
  margin: 0;
  padding: 70px 0 0 0;
  /* Media */
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
    height: 270px;
    overflow-y: scroll;
    background: rgba(143, 123, 133, 0.3);
  }
}

.sidebar #navbar {
  width: 90%;
  margin: 20px 0;
}

.sidebar #navbar header {
  background: none;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
}

.sidebar #navbar .title {
  text-align-last: left;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #D785AD;
  padding: 15px;
}

.sidebar #navbar .title:last-child {
  border-bottom: 2px solid #D785AD;
}

.sidebar #navbar ul li {
  list-style: none;
  padding-left: 10px;
}

.sidebar #navbar ul li a {
  text-decoration: none;
  margin: 5px 10px 0 15px;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}

.sidebar ul {
  padding-left: 10px;
}

.sidebar .element {
  width: 100%;
  height: auto;
}

.sidebar .element:hover {
  background: rgba(185, 185, 185, 0.3);
}

/* / Side Bar */
/* Main */
main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
  }
}

main section {
  margin: 40px;
  border-bottom: 3px solid #D785AD;
}

main section header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

main h3 {
  margin: 20px;
  text-align: center;
  font-size: calc(2rem + 1vw);
}

main h4 {
  margin: calc(1rem + .4vw);
  padding: 0 25px 0 50px;
  display: inline-block;
  font-size: calc(1rem + .6vw);
  font-weight: normal;
  font-family: Lucida Sans Unicode;
  color: #fff;
  background: #90486B;
}

main article {
  padding-bottom: 40px;
}

main article p {
  font-size: calc(1rem + .3vw);
}

main article li {
  font-size: calc(1rem + .3vw);
  line-height: calc(1rem + .8vw);
}

main article .code {
  font-size: calc(1rem + .2vw);
  font-family: monospace;
  line-height: 1.5;
  padding: 20px;
  background: #FAF0F5;
  border-left: 5px solid #67344D;
}

main article .code span {
  color: grey;
  font-weight: lighter;
  font-size: 1rem;
}

main article code {
  background: #FAF0F5;
  margin-bottom: 20px;
}

main article .note {
  margin: 15px;
  padding: 10px 25px;
  font-size: calc(.5rem + 1vh);
  border-left: 5px solid #90486B;
  background: #F5E1EB;
}

main article .result {
  border: 1px solid #90486B;
  border-left: 5px solid #90486B;
  padding: 20px;
}

main article .result h1 {
  font-size: 2rem;
}

main article .result p {
  color: red;
}

main article .section__inner {
  padding: 20px 0;
}

main article .section__inner h6 {
  font-size: calc(1rem + .3vw);
  font-weight: bold;
  margin: calc(1rem + .3vw);
}

main article .section__inner table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

main article .section__inner td,
main article .section__inner th {
  border: 1px solid rgba(143, 123, 133, 0.3);
  text-align: left;
  padding: 8px;
}

main article .section__inner tr:nth-child(even) {
  background-color: rgba(143, 123, 133, 0.1);
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 230px;
  }
}

section header {
  height: auto;
}
/*# sourceMappingURL=main.css.map */