* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.btn {
  font-family: 'Poppins', sans-serif;
  width: calc(5rem + 2vw);
  height: calc(1rem + 2vh);
  background: #9b2449;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .logo-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  font-size: 2rem;
  font-family: monospace;
  color: #fff;
}

header nav {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-links .nav-link {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

header nav li {
  list-style: none;
}

header .hire-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100vh;
  background: url("https://images.pexels.com/photos/4347366/pexels-photo-4347366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

section#welcome-section .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
}

section#welcome-section .introduction .intro-slash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  font-weight: 700;
  font-size: calc(3rem + 2vh);
  font-family: monospace;
}

section#welcome-section .intro-text {
  width: 50%;
}

section#welcome-section .intro-text h1 {
  font-size: calc(3rem + 2vh);
  font-weight: 700;
}

section#welcome-section .intro-text h1 span {
  font-size: calc(1rem + 2vh);
}

section#welcome-section .intro-text p.type {
  -webkit-animation: type 5s steps(18) infinite;
          animation: type 5s steps(18) infinite;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: calc(2rem + 2vh);
  border-right: 4px solid black;
  width: 18ch;
}

section#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

section#projects h2 {
  font-size: calc(2rem + 2vh);
  font-weight: 500;
  margin: 10vh;
}

section#projects h2 p {
  font-size: calc(1rem + 1vh);
}

section#projects .projects-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#projects .projects-tile .project-card {
  width: calc(450px + 4vw);
  height: calc(250px + 4vw);
  margin: 20px;
  padding: 20px;
  background: #9b2449;
}

section#projects .projects-tile .project-card img {
  width: calc(450px + 4vw);
  height: calc(250px + 4vw);
  border: 1px solid #000;
}

section#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

section#contact h2 {
  font-size: calc(2rem + 2vh);
  font-weight: 500;
  margin: 10vh;
}

section#contact h2 p {
  font-size: calc(1rem + 1vh);
}

section#contact .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9b2449;
  height: 10vh;
  color: #fff;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Animation */
@-webkit-keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 18ch;
  }
  100% {
    width: 0ch;
  }
}
@keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 18ch;
  }
  100% {
    width: 0ch;
  }
}
/*# sourceMappingURL=main.css.map */