body {
    margin: 0;


}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* * {
border: 1px solid #f00 !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


ul,
li {
    margin: 0;
}

/* Colors */
$primary: #D785AD;
$font: #333;

/* Header */
header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    background: rgb(209, 209, 209);
    overflow: hidden;

}

.container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: flex-end;

    .logo {
        img {
            position: absolute;
            top: 10px;
            left: 70px;
            width: 60px;
            height: auto;
            float: left;
        }
    }

}

.search-bar {
    --size: 60px;
    position: relative;
    border: 2px solid $primary;
    border-radius: 100vh;
    width: var(--size);
    height: var(--size);
    padding: 3px;
    transition: width 800ms ease-in-out;
    overflow: hidden;

    &__input {
        flex-grow: 1;
        font-size: 1.5rem;
        padding: 0 .5em 0 60px;
        border: 0;
        outline: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        /*  background: rgba(blue, .5); */
        line-height: var(--size);
        opacity: 0;
        cursor: pointer;
        transition: opacity 300ms ease-in-out;
    }

    &__submit {
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        border: 0;
        border-radius: 100vh;
        background: transparent;
        width: calc(var(--size) - 10px);
        height: calc(var(--size) - 10px);
        margin-left: auto;
        transition: background 150ms ease-in-out;
    }

    &:focus-within {
        width: 50%;

        .search-bar__input {
            opacity: 1;
            cursor: initial;
        }

        .search-bar__submit {
            background: $primary;
            color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);

            &:focus,
            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, .65);
            }
        }
    }
}