/* Media */
/* ----------------------------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .contact {
        flex-direction: column;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {


    /* Feature */

    .card-box {
        min-width: 16rem;
        height: 23rem;
    }

    /* /Feature */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {

    /* Overview */
    #overview {
        min-height: 100vh;
    }

    .section-header h3 {
        font-size: 2.5rem;
    }

    .section-header h1 {
        font-size: 4rem;
    }

    .section-header p {
        font-size: 1rem;
    }

    #contact {
        padding: 3.33rem;
    }

    /* /Overview */

    /* Feature */
    .feature-header h3 {
        padding-top: 4rem;
        font-size: 2rem;
    }

    .feature-header p {
        font-size: 1.1rem;
        margin: 0 auto;
    }

    .card-box {
        min-width: 18rem;
        height: 23rem;
        margin: 0 3rem;
    }

    .content h2 {
        font-size: 5rem;
    }

    .content h3 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 1rem;
    }

    /* /Feature */

    /* Contact Us */

    /* /Contact Us */
}

/* ----------------------------------------------- */